USE [master]
GO
/****** Object:  Database [DBStockControl]    Script Date: 6/27/2023 5:26:15 PM ******/
CREATE DATABASE [DBStockControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBStockControl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBStockControl.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBStockControl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBStockControl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBStockControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBStockControl]
GO
/****** Object:  User [Nonny]    Script Date: 6/27/2023 5:26:15 PM ******/
CREATE USER [Nonny] FOR LOGIN [Nonny] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Nonny]
GO
/****** Object:  Table [dbo].[tb_prodhistory]    Script Date: 6/27/2023 5:26:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_prodhistory](
	[GUID] [nchar](100) NOT NULL,
	[ProdID] [int] NULL,
	[QtyHistory] [int] NULL,
	[ActionBy] [nchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[Type] [nchar](10) NULL,
	[Menu] [nchar](10) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[sellhistory_id] [int] NULL,
 CONSTRAINT [PK_tb_prodhistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_product]    Script Date: 6/27/2023 5:26:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[BarcodeID] [nchar](100) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Price] [decimal](10, 4) NULL,
	[Quantity] [int] NULL,
	[Category] [nchar](50) NULL,
	[Picture] [image] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[ActionBy] [nchar](20) NULL,
 CONSTRAINT [PK_tb_product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_sellhistory]    Script Date: 6/27/2023 5:26:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_sellhistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[RecieveMoney] [float] NULL,
	[SumMoney] [float] NULL,
	[TotalMoney] [float] NULL,
	[GUID] [nchar](100) NULL,
 CONSTRAINT [PK_tb_sellhistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_user]    Script Date: 6/27/2023 5:26:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_user](
	[username] [nchar](30) NOT NULL,
	[password] [nchar](30) NULL,
	[last_login] [datetime] NULL,
	[pre_date] [datetime] NULL,
	[pre_time] [nchar](10) NULL,
 CONSTRAINT [PK_tb_user] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_prodhistory] ON 

INSERT [dbo].[tb_prodhistory] ([GUID], [ProdID], [QtyHistory], [ActionBy], [CreatedDate], [Type], [Menu], [ID], [sellhistory_id]) VALUES (N'99dfcc9ad17a41a1ae1a409e82c61e82                                                                    ', 5, 20, N'Admin               ', CAST(N'2023-06-26T15:27:34.310' AS DateTime), N'Sub       ', N'SellMenu  ', 20, 6)
INSERT [dbo].[tb_prodhistory] ([GUID], [ProdID], [QtyHistory], [ActionBy], [CreatedDate], [Type], [Menu], [ID], [sellhistory_id]) VALUES (N'1b72cd45d7744865a54d4d85e404f344                                                                    ', 6, 1, N'Admin               ', CAST(N'2023-06-26T15:27:34.313' AS DateTime), N'Sub       ', N'SellMenu  ', 21, 6)
INSERT [dbo].[tb_prodhistory] ([GUID], [ProdID], [QtyHistory], [ActionBy], [CreatedDate], [Type], [Menu], [ID], [sellhistory_id]) VALUES (N'489afd676ff84d37bfcb6cfb5369f8d1                                                                    ', 7, 1, N'Admin               ', CAST(N'2023-06-26T15:27:34.317' AS DateTime), N'Sub       ', N'SellMenu  ', 22, 6)
SET IDENTITY_INSERT [dbo].[tb_prodhistory] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_product] ON 

SET IDENTITY_INSERT [dbo].[tb_product] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_sellhistory] ON 

INSERT [dbo].[tb_sellhistory] ([ID], [CreatedDate], [RecieveMoney], [SumMoney], [TotalMoney], [GUID]) VALUES (6, CAST(N'2023-06-26T15:27:34.307' AS DateTime), 300, 60, 240, N'5bcebf2be2e647efacb8ae027cc7982c                                                                    ')
INSERT [dbo].[tb_sellhistory] ([ID], [CreatedDate], [RecieveMoney], [SumMoney], [TotalMoney], [GUID]) VALUES (7, CAST(N'2023-06-26T15:27:47.000' AS DateTime), 1000, 880, 120, N'1776ea85cba24508b4c7c72bbe161553                                                                    ')
SET IDENTITY_INSERT [dbo].[tb_sellhistory] OFF
GO
INSERT [dbo].[tb_user] ([username], [password], [last_login], [pre_date], [pre_time]) VALUES (N'admin                         ', N'123456                        ', NULL, NULL, NULL)
INSERT [dbo].[tb_user] ([username], [password], [last_login], [pre_date], [pre_time]) VALUES (N'SA                            ', N'123456                        ', NULL, NULL, NULL)
GO
/****** Object:  Index [IX_tb_prodhistory_ID]    Script Date: 6/27/2023 5:26:16 PM ******/
CREATE NONCLUSTERED INDEX [IX_tb_prodhistory_ID] ON [dbo].[tb_prodhistory]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_BarcodeID_tb_product]    Script Date: 6/27/2023 5:26:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UN_BarcodeID_tb_product] ON [dbo].[tb_product]
(
	[BarcodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_prodhistory]  WITH CHECK ADD  CONSTRAINT [FK_tb_prodhistory_tb_product] FOREIGN KEY([ProdID])
REFERENCES [dbo].[tb_product] ([ProductID])
GO
ALTER TABLE [dbo].[tb_prodhistory] CHECK CONSTRAINT [FK_tb_prodhistory_tb_product]
GO
ALTER TABLE [dbo].[tb_prodhistory]  WITH CHECK ADD  CONSTRAINT [FK_tb_prodhistory_tb_sellhistory] FOREIGN KEY([sellhistory_id])
REFERENCES [dbo].[tb_sellhistory] ([ID])
GO
ALTER TABLE [dbo].[tb_prodhistory] CHECK CONSTRAINT [FK_tb_prodhistory_tb_sellhistory]
GO
USE [master]
GO
